body {
    background-image: url(medias/images/clouds_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.MeteoCardContainer {
    height: 95vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.MeteoCard {
    background: linear-gradient((rgba(116, 86, 146, 0.30), rgba(253, 236, 218, 0.30)));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(0, 0, 0, 0.30);

    width: 500px;
    height: 500px;

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flexbox;
    justify-content: center;
    align-content: center;
    
}

.LowerInfos {
    display: flexbox;
    justify-self: center;
}

.Container {

    margin: 3px;

    width: 200px;
    justify-self: center;
    
    padding: 1px;

    border-radius: 50px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);

    border-radius: 50px;
}

.LowerInfos {
    display: flex;
    justify-content: space-between;
}